{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    {% if name == ' ' %}
        <header class="d-flex gap-4 bg-success p-3 align-items-center justify-content-center">
            <img src="/media/icons/doctor-svgrepo-com.svg" class="main-img">
            <h1 class="h4 m-0 text-info">Народный доктор</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active bg-info text-dark" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="login">Логин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="register">Регистрация</a>
                </li>
            </ul>
        </header>
        <div class="text-center mt-4 welcome">
            <h1>Добро пожаловать на сайт клиники "Народный доктор"</h1>
            <p>У нас лучшие врачи этого города! Убадитесь сами!</p>
            <button class="btn btn-warning">
                <a class="text-decoration-none" href="login">Записаться</a>
            </button>
        </div>
        <section class="bgc">
            <h1 class="text-center h2 mt-5">Наши врачи</h1>
            <div class="scroll-doc">
                {% for i in doctors %}
                    <div class="card sz">
                        <img src="{{ i.image.url }}" alt="" class="card-img-top crd">
                        <div class="card-body">
                            <h1 class="h3 card-title"> {{ i.name }} </h1>
                            <h1 class="h4 card-title">{{ i.age }} лет</h1>
                            <p class="card-text"> {{ i.description }} </p>
                            <p class="card-text">Стоимость посещения - {{ i.price }} руб. На первое посещение скидка 50%. </p>
                        </div>
                    </div>
                 {% endfor %}
            </div>
        </section>
    {% else %}
        <header class="d-flex gap-4 bg-success p-3 align-items-center justify-content-center">
            <h1 class="h4 m-0 text-info">Народный доктор</h1>
            <img src="/media/icons/doctor-svgrepo-com.svg" class="main-img">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active bg-info text-dark" aria-current="page" href="/user">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/user/my_writings">Мои записи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/user/writing">Запись</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-dark" href="/login">Выйти</a>
                </li>
            </ul>
        </header>
        <div class="container-xxl text-center mt-4 d-flex flex-column align-items-center">
            <h1>Добро пожаловать {{ name }}</h1>
            <p>У нас лучшие врчи этого города! Убадитесь сами!</p>
            <button class="btn btn-warning">
                <a class="text-decoration-none" href="/user/writing">Записаться</a>
            </button>
            <img src="/media/images/doc-main.png" class="mt-4 main-png">
        </div>
    {% endif %}



    {% block footer %}
        <footer class="p-5 pt-2 pb-2 mt-5 vw-100 bg-success footer">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-4 d-flex flex-column p-4 m-l">
                        <h1 class="h4 mb-3">Наши контакты</h1>
                        <p>+7(900)-000-00-00</p>
                        <p>narod-doc@mail.ru</p>
                    </div>

                    <div class="col-4 d-flex flex-column p-4">
                        <h1 class="h4 mb-3 mx-2">Соц.сети</h1>
                        <a href="https://vk.com/enotpoloskun325" class="d-flex gap-3 text-decoration-none mb-3 foot-link text-dark">
                            <img src="/media/icons/iconmonstr-vk-1.svg" alt="">
                            <p class="m-0">VK</p>
                        </a>
                        <a href="https://www.instagram.com/np_31_07?igsh=MWk4ejRyNmwweXUxNg==" class="d-flex gap-3 text-decoration-none mb-3 foot-link text-dark">
                            <img src="/media/icons/iconmonstr-instagram-11.svg" alt="">
                            <p class="m-0">Instagram</p>
                        </a>
                        <a href="https://t.me/KtoChoGd3" class="d-flex gap-3 text-decoration-none mb-3 foot-link text-dark">
                            <img src="/media/icons/iconmonstr-telegram-1.svg" alt="">
                            <p class="m-0">Telegram</p>
                        </a>
                    </div>

                    <div class="col-3 d-flex flex-column p-4">
                        <h1 class="h4 mb-3">Работа с нами</h1>
                        <a href="#" class="text-decoration-none text-dark mb-3">Новости</a>
                        <a href="#" class="text-decoration-none text-dark mb-3">Вакансии</a>
                        <a href="#" class="text-decoration-none text-dark mb-3">Прочее</a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
</body>
</html>